
.woocommerce-cart-form {
  display: flex;
  flex-flow: wrap;
  width: 100%;
  padding: 0 calc(var(--space_0) * 4);
  margin-top: calc(var(--space_0) * 4);
  margin-bottom: calc(var(--space_0) * 4);
  table {
    display: flex;
    flex-flow: wrap;
    width: 100%;
    tbody {
      display: flex;
      flex-flow: wrap;
      width: 100%;
      tr{
        position: relative;
        min-height: calc(var(--fs_m) * 3);
        border-top: var(--bw_s) solid $grey_l;
      }
    }
    thead{
      width: 100%;
      tr{
        margin-bottom: calc(var(--fs_m) * 0.5);
      }
    }
    tr {
      display: flex;
      width: 100%;
      padding: calc(var(--space_0) * 2) var(--space_0);
    }
    th {
      color: $grey_m;
      &.product-quantity{
        text-align: center;
      }
    }
    td {
      display: flex;
      align-items: center;
      &.product-remove {
        position: absolute;
        right: var(--space_0);
        bottom: 0;
        a.remove{
          color: $grey_l;
          html.no-touchevents &:hover,
          &:active {
            color: $red;
          }
        }
      }
      &.product-thumbnail {
        display: none;
      }
      &.product-name {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        font-weight: 600;
        a {
          color: $black;
          &:active,
          html.no-touchevents &:hover{
            color: $grey_m;
          }
        }
        dl.variation {
          display: flex;
          margin-block-start: 0;
          margin-block-end: 0;
          dt, dd {
            font-weight: 400;
          }
          dt {
            margin-right: 0.25em;
          }
          dd {
            margin-inline-start: 0;
            &:not(:last-child) {
              padding-right: 0.5em;
              margin-right: 0.5em;
              border-right: var(--bw_s) solid $grey_l;
            }
          }
        }
        .product-tags{ //overwrites styles from sho_products.scss
          padding-left: 0;
        }
        .product-tag{
          max-width: 100% !important;
          .product-tag-name{
            opacity: 1 !important;
            font-weight: 400;
          }
        }
      }
      //&.product-price {}
      &.product-quantity {
        justify-content: center;
        .quantity {
          input {
            @include reset_pill;
            padding: 0;
            pointer-events: none;
          }
        }
        .qib-container {
          width: 100%;
          margin-bottom: 0;
          border: var(--bw_s) solid $grey_l;
          button.minus,
          button.plus{
            background-color: transparent;
          }
        }
      }
      &.product-subtotal {
        justify-content: flex-end;
      }

      &.actions {
        display: flex;
        width: 100%;
        margin-bottom: 0;
        label {
          display: none;
        }
        .coupon {
          display: flex;
          align-items: center;
          .button {
            width: auto;
            margin-left: calc(var(--space_0) * 2);
          }
        }
        .button[name='update_cart'] {
          display: none;
          pointer-events: none;
        }
      }
    }
    .product-name {
      width: 100% * 8/12;
    }
    .product-price {
      width: 100% * 2/12;
    }
    .product-quantity {
      width: 100% * 2/12;
    }
    .product-subtotal {
      text-align: right;
      width: 100% * 2/12;
    }
  }
}

.cart-collaterals {
  display: flex;
  width: 100%;
  padding: 0 calc(var(--space_0) * 4);
  margin-top: calc(var(--space_0) * 8);
  margin-bottom: calc(var(--space_0) * 4);
  .cross-sells,
  .up-sells {
    display: none;
  }
}
.cart_totals {
  display: flex;
  flex-direction: column;
  width: 100%;
  h2,
  .recurring-totals th {
    font-weight: normal;
    font-size: var(--fs_l);
    line-height: var(--fs_l);
  }
  .shop_table {
    display: flex;
    flex-direction: column;
    margin-top: calc(var(--space_0) * 4);
    margin-bottom: calc(var(--space_0) * 4);
    tbody {
      display: flex;
      flex-flow: wrap;
    }
    tr {
      display: flex;
      width: 100%;
      min-height: calc(var(--fs_m) * 3);
      padding: var(--space_0) 0;
      border-top: var(--bw_s) solid $grey_l;
      &.shipping {
        td{
          //flex-wrap: wrap;
          flex-direction: column;
          align-items: flex-start;
          strong{
            font-weight: normal;
          }
        }
      	ul{
          padding: 0;
        	margin: 0;
          list-style: none;
          width: 100%;
        }
        li{
          display: flex;
          align-items: center;
        }
        input.shipping_method{
          width: auto;
          height: auto;
          filter: grayscale(1);
          margin-right: 0.75em;
        }
        label{
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          white-space: nowrap;
          span.woocommerce-Price-amount{
            margin-left: 0.75em;
          }
        }
        .shipping-method-description {
          color: $grey_m;
        }

        .woocommerce-shipping-destination {
          width: 100%;
          margin-top: calc(var(--space_0) * 0.5);
          margin-bottom: var(--space_0);
          color: $grey_m;
          strong{
            font-weight: normal;
          }
        }
        .woocommerce-shipping-calculator {
          display: flex;
          flex-flow: wrap;
          align-items: flex-start;
          margin-top: calc(var(--fs_m) * 0.5);
        }
        .shipping-calculator-button {
          white-space: nowrap;
          margin-right: 100%;

          html.no-touchevents &:hover,
          &:active {
            box-shadow: $shadow_double;
          }
        }
        .shipping-calculator-form {
          width: 100%;
          margin-top: var(--space_0);
          .form-row {
            margin-bottom: calc(var(--fs_m) * 0.5)
          }
        }
      }
      &.order-total{
        border-bottom: var(--bw_s) solid $grey_l;
        strong{
          font-weight: normal;
        }
      }
    }
    th, td {
      display: flex;
      align-items: center;
    }
    th {
      //font-family: $g_semibold;
      font-weight: normal;
      width: 100% * 3/12;
      margin-right: calc(var(--space_0) * 2);
    }
    .recurring-totals {
      border-top: none;
      margin-top: calc(var(--space_0) * 8);
      th {
        width: auto;
      }
    }
    td {
      width: 100% * 9/12;
      .includes_tax {
        margin-left: 0.75em;
        color: $grey_m;
      }
    }
  }
  .wc-proceed-to-checkout {
    display: flex;
    justify-content: center;
    .checkout-button {
      display: inline-flex;
      html.no-touchevents &:hover,
      &:active {
        background-color: transparent;
        border-color: $grey_m;
      }
    }
  }
}

// empty cart
.woocommerce-cart{
  .woocommerce{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .woocommerce-notices-wrapper{
      //display: none;
    }
  }
}
.return-to-shop-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 calc(var(--space_0) * 4);
  h2 {
    width: 100%;
    font-size: var(--fs_l);
    line-height: var(--fs_l);
    margin-top: var(--fs_l);
    margin-bottom: calc(var(--fs_m) * 0.5)
  }
  a {
    margin-right: var(--space_0);
    margin-top: var(--space_0);
  }
}


@media all and (max-width: $break_s) {
  /*.woocommerce-cart-form {
    padding: 0 var(--space_0) * 1.5;
    margin-top: var(--space_0) * 2.5;
    margin-bottom: 0;
    table {
      tbody {
        tr{
          min-height: calc(var(--fs_m)_s * 3;
        }
      }
      thead{
        display: none;
      }
      td {
        display: flex;
        align-items: center;
        &.product-remove,
        &.product-thumbnail {
          display: none;
        }
        &.product-name {
          padding-left: 0.5em;
        }
        &.product-price {
        }
        &.product-quantity {
          .qib-container{
            margin-left: 0.5em;
            margin-right: 0.5em;
            .qib-button{
              display: none;
            }
          }
        }

        &.actions {
          flex-direction: column-reverse;
          margin-top: var(--space_0) * 1.5;
          label {
            display: none;
          }
          .coupon {
            .input-text,
            .button {
              height: var(--fs_m)_s * 2;
              padding: var(--fs_m)_s * 0.375 var(--fs_m)_s * 1.5 var(--fs_m)_s * 0.5 var(--fs_m)_s * 1.5;

              font-size: var(--fs_m)_s;
              line-height: var(--fs_m)_s;

              border-radius: $line_l_s;
            }
            .button {
              margin-left: var(--space_0) * 1.5;
              white-space: nowrap;
            }
          }
          .button[name="update_cart"] {
            margin-bottom: var(--space_0) * 1.5;
            width: calc(100% * 6/12 - #{var(--space_0) * 0.75});
            white-space: nowrap;
          }
        }
      }
    }
  }
  .cart-collaterals {
    padding: 0 var(--space_0) * 1.5;
    margin-top: var(--space_0) * 5;
    margin-bottom: var(--space_0) * 3;
  }
  .cart_totals {
    h2 {
      font-size: $text_l_s;
      line-height: $line_l_s;
    }
    .shop_table {
      margin-top: var(--space_0) * 1.5;
      margin-bottom: var(--space_0) * 1.5;
      tr {
        min-height: calc(var(--fs_m)_s * 3;
        padding: var(--space_0)*0.5 0;
        &.shipping {
          .woocommerce-shipping-destination {
            margin-bottom: var(--space_0) * 0.5;
          }
          .woocommerce-shipping-calculator {
            margin-top: var(--fs_m)_s * 0.5;
            margin-bottom: var(--fs_m)_s * 0.5;
          }
          .shipping-calculator-form {
            width: 100%;
            margin-top: var(--space_0);
            .form-row {
              margin-bottom: calc(var(--fs_m)_s * 0.5;
            }
          }
        }
      }
      th {
        margin-right: var(--space_0)*1.5;
      }
    }
    .wc-proceed-to-checkout {
      display: flex;
      justify-content: center;
      margin-top: var(--space_0) * 1.5;
    }
  }
  .return-to-shop-container {
    padding: 0 var(--space_0) * 1.5;
    h2 {
      font-size: $text_l_s;
      line-height: $line_l_s;
      margin-top: $line_l_s;
      margin-bottom: calc(var(--fs_m)_s * 0.5;
    }
    a {
      margin-right: 0;
      margin-top: var(--space_0) * 1.5;
    }
  }*/
}
