.woocommerce-cart-form {
  display: flex;
  flex-flow: wrap;
  width: 100%;
  padding: calc(var(--space_0) * 8) calc(var(--space_0) * 15) 0 calc(var(--space_0) * 15);
  margin-top: calc(var(--space_0) * 4);
  margin-bottom: calc(var(--space_0) * 4);
  table {
    display: flex;
    flex-flow: wrap;
    width: 100%;
    tbody {
      display: flex;
      flex-flow: wrap;
      width: 100%;
      tr{
        position: relative;
        min-height: calc(var(--fs_m) * 3);
        border-top: var(--bw_s) solid $grey_l;
      }
    }
    thead{
      width: 100%;
      /*tr{
        margin-bottom: calc(var(--fs_m) * 0.5);
      }*/
    }
    tr {
      display: flex;
      width: 100%;
      padding: calc(var(--space_0) * 2) var(--space_0);
    }
    th {
      //color: $grey_m;
      &.product-quantity{
        text-align: center;
      }
    }
    td {
      display: flex;
      //align-items: center;
      &.product-remove {
        position: absolute;
        right: var(--space_0);
        bottom: 0;
        a.remove{
          color: $red;
          html.no-touchevents &:hover,
          &:active {
            color: $grey_m;
          }
        }
      }
      &.product-thumbnail {
        display: none;
      }
      &.product-name {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        font-weight: 600;
        a {
          color: $black;
          &:active,
          html.no-touchevents &:hover{
            color: $grey_m;
          }
        }
        dl.variation {
          display: flex;
          margin-block-start: 0;
          margin-block-end: 0;
          dt, dd {
            font-weight: 400;
          }
          dt {
            margin-right: 0.25em;
          }
          dd {
            margin-inline-start: 0;
            &:not(:last-child) {
              padding-right: 0.5em;
              margin-right: 0.5em;
              border-right: var(--bw_s) solid $grey_l;
            }
          }
        }
        .product-tags{ //overwrites styles from sho_products.scss
          padding-left: 0;
        }
        .product-tag{
          max-width: 100% !important;
          .product-tag-name{
            opacity: 1 !important;
            font-weight: 400;
          }
        }
      }
      //&.product-price {}
      &.product-quantity {
        justify-content: center;
        .quantity {
          input {
            @include reset_pill;
            padding: 0;
            pointer-events: none;
            border: none;
            text-align: center;
          }
        }
        .qib-container {
          width: 100%;
          margin-bottom: 0;
          border: var(--bw_s) solid $grey_l;
          button.minus,
          button.plus{
            background-color: transparent;
          }
        }
      }
      &.product-subtotal {
        justify-content: flex-end;
      }

      &.actions {
        display: flex;
        width: 100%;
        margin-bottom: 0;
        label {
          display: none;
        }
        .coupon {
          display: flex;
          align-items: center;
          .button {
            width: auto;
            margin-left: calc(var(--space_0) * 2);
          }
        }
        .button[name='update_cart'] {
          display: none;
          pointer-events: none;
        }
      }
      .subscription-details {
        display: none;
      }
    }
    .product-name {
      width: 100% * 8/12;
    }
    .product-price {
      width: 100% * 2/12;
    }
    .product-quantity {
      width: 100% * 2/12;
    }
    .product-subtotal {
      text-align: right;
      width: 100% * 2/12;
    }
  }
}

.cart-collaterals {
  display: flex;
  width: 100%;
  padding: 0 calc(var(--space_0) * 15);
  margin-top: calc(var(--space_0) * 8);
  margin-bottom: calc(var(--space_0) * 12);
  .cross-sells,
  .up-sells {
    display: none;
  }
}
.cart_totals {
  display: flex;
  flex-direction: column;
  width: 100%;
  h2,
  .recurring-totals th {
    font-weight: 300;
    font-size: var(--fs_xl);
    line-height: var(--fs_xl);
    margin-top: var(--fs_xl);
    margin-bottom: var(--fs_xl);
    //color: $grey_m;
  }
  .recurring-totals th {
    font-weight: 300 !important;
    text-align: left;
  }
  .shop_table {
    display: flex;
    flex-direction: column;
    //margin-top: calc(var(--space_0) * 4);
    margin-bottom: calc(var(--space_0) * 4);
    tbody {
      display: flex;
      flex-flow: wrap;
    }
    tr {
      display: flex;
      width: 100%;
      min-height: calc(var(--fs_m) * 3);
      padding: var(--space_0) 0;
      border-top: var(--bw_s) solid $grey_l;
      &.shipping {
        padding-top: 0;
        padding-bottom: calc(var(--space_0) * 2);
        td{
          //flex-wrap: wrap;
          flex-direction: column;
          align-items: flex-start;
          strong{
            font-weight: normal;
          }
        }
      	ul{
          padding: 0;
        	margin: 0;
          list-style: none;
          width: 100%;
        }
        li{
          display: flex;
          align-items: center;
          padding: calc(var(--space_0) * 2) 0;
          border-bottom: var(--bw_s) solid $grey_l;
          label,
          input {
            cursor: pointer;
          }
        }
        input.shipping_method{
          min-width: 1em;
          width: auto;
          height: auto;
          filter: grayscale(1);
          margin-right: 0.75em;
          margin-top: auto;
          margin-bottom: auto;
        }
        label{
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          white-space: nowrap;
          span.woocommerce-Price-amount{
            margin-left: 0.75em;
          }
        }
        .shipping-method-description {
          color: $grey_m;
        }

        .woocommerce-shipping-destination {
          width: 100%;
          max-width: 33em;
          margin-top: calc(var(--space_0) * 0.5);
          margin-bottom: var(--space_0);
          color: $grey_m;
          p, strong{
            color: $grey_m;
            font-weight: normal;
          }
        }
        .woocommerce-shipping-calculator {
          display: flex;
          flex-flow: wrap;
          align-items: flex-start;
          margin-top: calc(var(--fs_m) * 0.5);
        }
        .shipping-calculator-button {
          margin-bottom: var(--space_0);
        }
        .shipping-calculator-form {
          width: 100%;
          margin-top: var(--space_0);
          .form-row,
          label {
            margin-bottom: calc(var(--fs_m) * 0.5);
          }
        }
      }
      &.order-total{
        border-bottom: var(--bw_s) solid $grey_l;
        strong{
          font-weight: normal;
        }
        .first-payment-date {
          padding-left: 0.5em;
          margin-left: 0.5em;
          border-left: var(--bw_s) solid $grey_l;
        }
      }
    }
    th, td {
      display: flex;
      align-items: center;
    }
    th {
      font-weight: normal;
      width: 100% * 3/12;
      margin-right: calc(var(--space_0) * 2);
    }
    .recurring-totals {
      border-top: none;
      margin-top: calc(var(--space_0) * 8);
      th {
        width: auto;
      }
    }
    td {
      width: 100% * 9/12;
      .includes_tax {
        display: block;
        margin-left: 0.75em;
        color: $grey_m;
        span {
          color: $grey_m;
        }
      }
    }
  }
  .wc-proceed-to-checkout {
    display: flex;
    justify-content: center;
    .checkout-button {
      display: inline-flex;
      margin-top: calc(var(--space_0) * 2);
      html.no-touchevents &:hover,
      &:active {
        background-color: transparent;
        border-color: $grey_m;
      }
    }
  }
}

// empty cart
.woocommerce-cart{
  .woocommerce{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /*.woocommerce-notices-wrapper{
      display: none;
    }*/
  }
}
p.return-to-shop{
  display: none;
}
.return-to-shop-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: calc(var(--space_0) * 4);
  gap: calc(var(--space_0) * 4);
}


@media all and (max-width: $break_s) {
  @import 'cart_mobile';
}
