.woocommerce-checkout {
  .woocommerce {
    padding: calc(var(--space_0) * 4) calc(var(--space_0) * 15);

    /*.woocommerce-notices-wrapper {
      display: inline-flex;
      padding: 0;
    }*/

    .woocommerce-form-coupon-toggle {
      display: none;
    }

    .checkout_coupon {
      display: none;
    }
  }
}
/* LOGIN */
/*.woocommerce-form-login-toggle,
.woocommerce-account-fields{
  display: none !important;
}*/
.woocommerce-form-login-toggle {
  display: none;
}
.woocommerce-form-login {
  //display: none !important;
  background-color: $grey_l;
  padding: var(--space_0);
  p:not(.form-row) {
    color: $grey_m;
    max-width: 360px;
  }
  .form-row {
    margin-bottom: var(--fs_m);
    &.form-row-first {
      margin-top: var(--fs_m);
    }
    label {
      display: block;
      color: $black;
      margin-bottom: calc(var(--fs_m) * 0.5);
    }
    input {
      max-width: 360px;
    }

    &.validate-required {
      label {
        color: $black;
      }
    }
    &.woocommerce-invalid {
      label {
        color: $red;
      }
      input {
        border-color: $red;
        box-shadow: inset 0 0 0 1px $red;
      }
    }
  }

  // remember-me button
  label.woocommerce-form-login__rememberme {
    display: flex;
    position: relative;
    width: 100%;
    input {
      display: none;
    }
    span:not(.required) {
      &::after {
        content: '  ';
        opacity: 0;
        //background-color: $primary;
        margin-left: 0.5em;
        transition: background-color 0.25s ease-in-out, opacity 0.25s ease-in-out;
      }
      &.active {
        //background-color: $primary;
        //border-color: $primary;
        &::after {
          content: ' ◂';
          opacity: 1;
          margin-left: 0.5em;
        }
        html.no-touchevents &:hover,
        &:active {
          background-color: transparent;
          border-color: $grey_m;
          color: $black;
          &::after {
            background-color: $white;
          }
        }
      }
    }
  }

  .lost_password {
    margin: var(--fs_m) 0;
    a {
      color: $grey_m;
      html.no-touchevents &:hover,
      &:active {
        color: $black;
      }
    }
  }
}

.checkout {
  display: flex;
  flex-wrap: wrap;
  .col2-set {
    display: flex;
    flex-flow: wrap;
    width: 100% * 6/12;
    padding-right: calc(var(--space_0) * 7.5);
  }

  .col-1,
  .col-2 {
    width: 100%;
    margin-bottom: calc(var(--fs_s) * 2);
  }
  h3:not(#ship-to-different-address) {
    font-size: var(--fs_xl);
    line-height: var(--fs_xl);
    font-weight: 300;
    margin-top: var(--fs_xl);
    margin-bottom: var(--fs_xl);
    &#order_review_heading {
      position: absolute;
      left: calc(100% * 6/12 + #{calc(var(--space_0) * 7.5)});
    }
  }

  .form-row {
    margin-bottom: var(--fs_m);
    label {
      display: block;
      //color: $grey_m;
      margin-bottom: calc(var(--fs_m) * 0.25);
    }
    input[type='text'],
    .input-text {
      width: 100%;
    }

    &.validate-required {
      label {
        color: $black;
      }
    }
    &.woocommerce-invalid {
      label {
        color: $red;
      }
      input {
        border-color: $red;
        //box-shadow: inset 0 0 0 1px $red;
      }
    }
    &#billing_address_2_field,
    &#shipping_address_2_field {
      label {
        .optional {
          display: none;
        }
      }
    }
  }

  .woocommerce-account-fields,
  h3#ship-to-different-address {
    margin-bottom: calc(var(--fs_s));
    label {
      display: flex;
      position: relative;
      width: 100%;
      font-weight: 600;
      input {
        display: none;
      }
      span {
        &::after {
          content: '  ';
          opacity: 0;
          transition: background-color 0.25s ease-in-out, opacity 0.25s ease-in-out;
        }
        &.active {
          //background-color: $primary;
          //border-color: $primary;
          color: $white;
          &::after {
            content: ' ✔\fe0e';
            opacity: 1;
            margin-left: 0.5em;
          }
          html.no-touchevents &:hover,
          &:active {
            background-color: transparent;
            border-color: $grey_m;
            color: $black;
          }
        }
      }
    }
  }
  .woocommerce-account-fields {
    label {
      span.active::after {
        margin-left: 0.25em;
      }
    }
  }

  .woocommerce-additional-fields {
    margin-top: calc(var(--fs_s) * 2);
    textarea {
      height: 10em;
      max-width: 100%;
    }
  }
}

.woocommerce-checkout-review-order {
  display: flex;
  flex-flow: wrap;
  align-content: flex-start;
  width: 100% * 6/12;
  margin-top: calc(var(--fs_xl) * 3 + var(--fs_m) * 0.25);
  padding-left: calc(var(--space_0) * 7.5);

  .shop_table {
    // same layout as in thankyou.scss
    display: flex;
    flex-flow: column;
    width: 100%;

    tbody,
    tfoot {
      tr {
        min-height: calc(var(--fs_m) * 3);
        border-top: 1px solid $grey_l;
      }
    }

    thead {
      tr {
        margin-bottom: calc(var(--fs_m) * 0.5);
      }

      th {
        color: $black;
        padding: 0;

        &.product-name {
          margin-bottom: 0;

        }

        &.product-name,
        &.product-total {
          font-weight: normal;
        }
      }
    }

    tr {
      display: flex;
      align-items: center;

      .product-name {
        font-weight: 600;
        width: 50%;

        span {
          display: block;
          line-height: 0;
          opacity: 0;
        }

        dl.variation {
          display: none;
        }
      }

      .product-total {
        text-align: right;
        width: 25%;
      }

      th {
        text-align: left;

        &.product-total {
          text-align: right;
          width: 50%;
        }
      }

      td {
        &.product-name {
          width: 75%;
          color: $black;
          margin-bottom: 0;

          .product-quantity {
            font-weight: normal;
            color: $grey_m;
          }
        }
      }

      &.recurring-totals {
        border-top: none;

        th {
          font-size: var(--fs_l);
          line-height: var(--fs_l);
          font-weight: normal;
          margin-top: var(--fs_l);
          margin-bottom: var(--fs_l);
        }
      }

      &.cart-subtotal,
      &.order-total {
        th {
          font-weight: 600;
          font-weight: normal;
          width: 50%;
        }

        td {
          width: 50%;
          text-align: right;
        }
      }

      &.shipping {
        padding: 0;

        th {
          width: 25%;
          margin-right: var(--space_0);
          font-weight: 600;
          font-weight: normal;
        }

        td {
          display: flex;
          justify-content: flex-end;

          ul {
            padding: 0;
            margin: 0;
            list-style: none;
            width: 100%;
          }

          li {
            display: flex;
            align-items: center;
            padding: calc(var(--space_0) * 2) 0;

            &:not(:last-child) {
              border-bottom: var(--bw_s) solid $grey_l;
            }

            label,
            input {
              cursor: pointer;
            }
          }

          input.shipping_method {
            min-width: 1em;
            width: auto;
            height: auto;
            filter: grayscale(1);
            margin-right: 0.75em;
            margin-top: auto;
            margin-bottom: auto;
          }

          label {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;

            span.woocommerce-Price-amount {
              margin-left: 0.75em;
            }
          }

          .shipping-method-description {
            color: $grey_m;
          }
        }

        .woocommerce-Price-amount {
          display: inline-block;
          margin-left: calc(var(--fs_s) * 0.5);
          color: $black;
        }
      }

      &.order-total {
        margin-bottom: 0;
        border-bottom: 1px solid $grey_l;

        td {
          strong {
            font-weight: normal;
          }

          small {
            display: block;
            color: $grey_m;
            font-size: var(--fs_s);
            line-height: var(--fs_m);
            letter-spacing: 0.025em;

            span {
              color: $grey_m;
              font-size: var(--fs_s);
              line-height: var(--fs_m);
              letter-spacing: 0.025em;
            }
          }
        }
      }
    }
  }
  
  .woocommerce-checkout-payment {
    display: flex;
    flex-direction: column;
    width: 100%;

    //margin: calc(var(--space_0) * 4) 0;
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
    }

    li {
      //.wc_payment_method
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: calc(var(--space_0) * 4) 0;
      border-bottom: var(--bw_s) solid $grey_l;

      &:last-child {
        margin-bottom: calc(var(--space_0) * 2);
      }

      img,
      input {
        display: none;
      }

      label {
        position: relative;
        justify-content: center;
        min-width: 50%;
        padding-right: calc(var(--space_0)*3);
        font-weight: 600;

        &::after {
          content: '  ';
          position: absolute;
          top: 0;
          bottom: 0;
          right: calc(var(--space_0)*3);
          display: flex;
          align-items: center;
          opacity: 0;
          background-color: transparent;
          border-color: $grey_m;
          transition: background-color 0.25s ease-in-out, opacity 0.25s ease-in-out;
        }

        a {
          display: none;
        }
      }

      input:checked~label {
        &::after {
          content: ' ✔\fe0e';
          opacity: 1;
          margin-left: 0.5em;
          color: $lime;
        }

        html.no-touchevents &:hover,
        &:active {
          background-color: transparent;
          border-color: $grey_m;
          color: $black;
        }
      }

      .payment_box {
        margin-top: calc(var(--space_0)*3);
        padding: 0 calc(var(--space_0) * 4);
        color: $grey_m;

        p {
          max-width: 33em;
          margin: 0 auto;
          font-size: var(--fs_s);
          line-height: var(--fs_m);
          letter-spacing: 0.025em;
          color: $grey_m;
        }

        a {
          color: $grey_d;
          text-decoration: underline;

          &:active,
          html.no-touchevents &:hover {
            color: $black;
          }
        }

        fieldset {
          border: none;
          padding: 0;
          margin: 0;
          margin-top: calc(var(--space_0)*4);
          @include pill;

          #wc_braintree_paypal_container {
            padding: calc(var(--space_0)*4);
            padding-bottom: 0;
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .woocommerce-terms-and-conditions-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 calc(var(--space_0)*4);
    margin-bottom: calc(var(--space_0)*4);
    border-bottom: var(--bw_s) solid $grey_l;

    p,
    a,
    .woocommerce-terms-and-conditions-checkbox-text {
      font-size: var(--fs_s);
      line-height: var(--fs_m);
      letter-spacing: 0.025em;
    }

    p {
      max-width: 33em;
    }

    a {
      color: $grey_m;

      &:active,
      html.no-touchevents &:hover {
        color: $black;
      }
    }

    .woocommerce-privacy-policy-text {
      padding-bottom: calc(var(--space_0)*2);
    }

    .woocommerce-terms-and-conditions {
      padding: calc(var(--fs_m) * 0.5);
      margin-bottom: var(--fs_s);
      background-color: $grey_l;
    }

    .form-row {
      margin: calc(var(--space_0) * 4) 0;

      .woocommerce-form__input-checkbox#terms {
        -webkit-appearance: unset;
        display: inline;
        padding: 0;
        margin: 0 calc(var(--fs_s) * 0.5) 0 0;
        border: none;

        &::after {
          display: inline-flex;
          justify-content: center;
          width: 1em;
          min-width: 1em;
          max-width: 1em;
          padding: calc(var(--fs_m) * 0.25);
          margin-left: 0.5em;
          content: ' ✔\fe0e';
          font-size: var(--fs_m);
          line-height: var(--fs_m);
          background-color: transparent;
          color: transparent;
          border-radius: var(--fs_m);
          border: solid 1px $grey_m;
          cursor: pointer;
          transition: background-color 0.25s ease-in-out, border-color 0.25s ease-in-out, color 0.25s ease-in-out;
        }

        html.no-touchevents &:hover,
        &:active {
          &::after {
            border-color: $grey_d;
          }
        }
      }

      &.woocommerce-validated {
        .woocommerce-form__input-checkbox#terms {
          &::after {
            //background-color: $primary;
            //border-color: $primary;
            color: $lime;
          }
        }
      }

      &.woocommerce-invalid {
        .woocommerce-form__input-checkbox#terms {
          &::after {
            border-color: $red;
          }
        }
        .woocommerce-terms-and-conditions-checkbox-text{
          color: $red;
        }
      }

      .woocommerce-form__label.woocommerce-form__label-for-checkbox {
        display: flex;
        cursor: pointer;
      }

      .woocommerce-terms-and-conditions-link {
        color: $grey_m;

        &:active,
        html.no-touchevents &:hover {
          color: $black;
        }
      }
    }
  }

  // WooCommerce PayPal Payments Plugin
  .ppc-button-wrapper {
    width: 100%;
    z-index: 2;
    .paypal-buttons {
      border-radius: var(--br_l);
      overflow: clip;
    }
  }

  .form-row.place-order {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--space_0)*5);
  }

  .button#place_order {
    display: inline-flex;
    width: 50%;
    justify-content: center;
  }

}


@media all and (max-width: $break_s) {
  @import 'checkout_mobile';
}
