.woocommerce-checkout {
  .woocommerce {
    padding: 0 calc(var(--space_0) * 4);
  }
}
.checkout {
  .col2-set {
    width: 100%;
    padding-right: 0;
  }
  h3:not(#ship-to-different-address) {
    &#order_review_heading {
      position: relative;
      left: unset;
    }
  }  
}
.woocommerce-checkout-review-order {
  width: 100%;
  padding-left: 0;
  padding-bottom: calc(var(--space_0) * 9);
  margin-top: 0;

  .shop_table {
    tr.order-total {
      td {

        small,
        small span {
          font-size: var(--fs_xs);
          line-height: var(--fs_s);
          letter-spacing: 0.025em;
        }
      }
    }
  }

  .woocommerce-checkout-payment {
    li {
      label {
        min-width: unset;
        width: 100%;
      }
    }
  }

  .woocommerce-terms-and-conditions-wrapper{
    padding: 0 calc(var(--space_0)*2);
    .woocommerce-terms-and-conditions-checkbox-text {
      margin-left: 0.5em;
    }
  }

  .button#place_order {
    width: 100%;
  }


}
