.woocommerce-account{
  /*.site-content {
    background: var(--background_image_url);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }*/
  //body{
    background-color: $yellow;
  //}
  .entry-content{
    padding: 0 calc(var(--space_0) * 10);
  }
  .woocommerce {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calc(var(--space_0) * 8);
    padding-top: calc(var(--space_0) * 2);
    padding-bottom: calc(var(--space_0) * 8);
  }
  .woocommerce-MyAccount-navigation {
    position: sticky;
    top: calc(var(--h_h) * 1.1);
    z-index: 10;
    padding: calc(var(--space_0) * 2);
    @include pill;
  }
  .woocommerce-MyAccount-navigation ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: calc(var(--space_0)*2);
    .woocommerce-MyAccount-navigation-link--orders,
    .woocommerce-MyAccount-navigation-link--downloads,
    .woocommerce-MyAccount-navigation-link--payment-methods{
      display: none;
      pointer-events: none;
    }
    .woocommerce-MyAccount-navigation-link--customer-logout {
      a {
        box-shadow: none;
        background-color: rgba($white, 0.6);
        html.no-touchevents &:hover,
        &:active{
          background-color: rgba($white, 1);
        }
      }
    }
  }
  .woocommerce-MyAccount-content{
    @include pill;
    min-width: 50%;
    max-width: 100%;
    padding: calc(var(--space_0) * 8);
    p{
      &:not(:last-child){
        margin-bottom: calc(var(--fs_m)*0.5);
      }
    }
    .coin-balance-container,
    .customer-flour-id-container,
    .qr-code-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: calc(var(--space_0) * 4) 0;
      padding-bottom: 0;
      margin-top: calc(var(--space_0) * 4);
      border-top: var(--bw_s) solid $grey_l;
      h3 {
        margin-bottom: calc(var(--fs_m)*0.5);
        font-weight: 600;
        text-align: center;
      }
    }
    .coin-balance-container{
      .coin-balance{
        display: flex;
        justify-content: center;
        height: calc(var(--space_0) * 8);
        .coin-balance-value{
          @include pill;
          display: flex;
          align-items: center;
          justify-content: center;
          height: calc(var(--space_0) * 8);
          min-width: calc(var(--space_0) * 8);
          padding: calc(var(--fs_m)*0.5) var(--fs_m);
          margin-right: calc(-2 * var(--space_0));
          z-index: 1;
        }
        .coin-balance-icon {
          height: 100%;
          box-shadow: $shadow;
          border-radius: 100%;
          overflow: clip;
          animation: flip 2s infinite cubic-bezier(0, 0, 0, 1);
        }
      }
    }
    .customer-flour-id-container {
      .customer-flour-id-value {
        @include pill;
        display: flex;
        align-items: center;
        justify-content: center;
        height: calc(var(--space_0) * 8);
        padding: calc(var(--fs_m)*0.5) var(--fs_m);
        margin-right: calc(-2 * var(--space_0));
        z-index: 1;
      }
    }
    .qr-code-container {
      .qr-code{
        @include pill;
        padding: var(--br_l);
        display: flex;
        aspect-ratio: 1;
        width: calc(var(--space_0) * 48);
        height: calc(var(--space_0) * 48);
        margin-top: calc(var(--space_0) * 4);
        margin-bottom: calc(var(--space_0) * 4);
      }
    }

    td.product-name {
      a {
        margin: 0;
        padding: 0;
        font-weight: 600;
      }
      .product-quantity {
        color: $grey_m;
        font-weight: normal;
      }
    }
    .woocommerce-Addresses {
      .woocommerce-Address {
        padding: calc(var(--space_0) * 2) 0;
        &:first-child {
          border-top: var(--bw_s) solid $grey_l;
        }
        &:not(:last-child) {
          border-bottom: var(--bw_s) solid $grey_l;
        }
      }
      .woocommerce-Address-title {
        margin-bottom: calc(var(--fs_m)*0.5)  ;
      }
      h3 {
        margin-bottom: calc(var(--fs_m)*0.5);
        font-weight: 600;
      }
      address{
        font-style: normal;
      }
    }
    //address edit
    form {
      h3 {
        margin-bottom: calc(var(--fs_m) * 0.5);
        font-weight: 600;
      }
      .woocommerce-address-fields {
        p:not([class]){
          display: flex;
          justify-content: center;
        }
      }
      .woocommerce-address-fields__field-wrapper {
        padding: var(--fs_m) 0;
      }
      .form-row {
        display: flex;
        flex-direction: column;
        margin-bottom: var(--fs_m);
        label {
          margin-bottom: calc(var(--fs_m)*0.5);
        }
        input {
          width: 100%;
        }
      }
    }
    //edit account
    .woocommerce-EditAccountForm{
      span:not([class]){
        display: none;
      }
      fieldset{
        padding: 0;
        margin-top: calc(var(--space_0) * 8);
        margin-bottom: calc(var(--space_0) * 2);
        border: none;
        legend {
          margin-bottom: calc(var(--space_0) * 4);
          font-weight: 600;
        }
      }
      p:not([class]) {
        display: flex;
        justify-content: center;
      }
    }
    //subscriptions
    h2 {
      font-size: var(--fs_l);
      line-height: var(--fs_l);
      font-weight: 200;
      margin-top: calc(var(--space_0) * 8);
      margin-bottom: calc(var(--space_0) * 4);
    }
    //.my_account_subscriptions{
      table{
        width: 100%;
        border-collapse: collapse;
        border: calc(var(--bw_s) * 2) solid $white;
        a {
          margin: calc(var(--space_0) * 2);
          &.button{
            width: auto;
          }
        }
      }
      th, td {
        padding: calc(var(--space_0) * 2);
        border: var(--bw_s) solid $grey_l;
        text-align: left;
      }
    //}
    .woocommerce-customer-details{
      margin-top: calc(var(--space_0) * 8);
      h2 {
        font-size: var(--fs_m);
        line-height: var(--fs_m);
        font-weight: 600;
        margin: 0;
      }
      address {
        font-style: normal;
        p {
          margin: 0;
        }
      }
    }
  }
}

@media all and (max-width: $break_s) {
  .woocommerce-account {
    .entry-content {
      padding: 0 calc(var(--space_0) * 4);
    }
    .woocommerce {
      gap: calc(var(--space_0) * 4);
      padding-top: calc(var(--space_0) * 4);
    }
    .woocommerce-MyAccount-navigation {
      padding: calc(var(--space_0) * 4);
    }
    .woocommerce-MyAccount-navigation ul {
      gap: calc(var(--space_0) * 4);
    }
    .woocommerce-MyAccount-content {
      width: 100%;
      padding: calc(var(--space_0) * 4);
      .qr-code-container {
        .qr-code {
          width: 100%;
          height: auto;
        }
      }
      table {
        * {
          font-size: var(--fs_xs);
          line-height: var(--fs_xs);
          letter-spacing: 0.025em;
        }
        th, td {
          padding: var(--space_0);
          white-space: unset !important;
          hyphens: auto;
          .nobr{
            white-space: unset !important;
            hyphens: auto;
          }
        }
        th {
          &.subscription-id {
              width: 3em;
              .nobr {
                display: none;
              }
            }
        }
        td {
          &.order-number,
          &.subscription-id {
            a {
              padding: 0;
              margin: 0;
            }
          }
        }
        a {
          margin: var(--space_0);
          padding: calc(var(--fs_xs)*0.5) var(--fs_xs);
          height: auto;
        }
      }
      .woocommerce-customer-details {
        h2, address, p {
          font-size: var(--fs_xs);
          line-height: var(--fs_xs);
          letter-spacing: 0.025em;
        }
      }
    }
  }
}