.term-subscription {
  //body {
    background-color: $yellow;
  //}
  .product-filter{
    display: none;
  }
  .products {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0 calc(var(--space_0) * 8);
  }
  .product {
    width: 33.333%;
    padding: calc(var(--space_0)*2);
  }
  .subscription-product-link {
    //position: absolute;
    //bottom: calc(var(--space_0)*4);
    display: flex;
    margin-top: calc(var(--space_0)*4);
  }
}

@media all and (max-width: #{$break_m}) {
  .term-subscription {
    .product {
      width: 50%;
    }
  }
}

@media all and (max-width: #{$break_s}) {
  .term-subscription {
    .products {
      padding: calc(var(--space_0) * 2);
    }
    .product {
      width: 100%;
    }
  }
}