// shop notifications

.single-product .woocommerce-error,
.checkout>.woocommerce-error,
.woocommerce-NoticeGroup/*, //checkout
/*.woocommerce-notices-wrapper>div */{
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: calc(var(--h_h) + var(--space_0) * 2);
  left: 25%;
  z-index: 11;
  width: 50%;
  padding: calc(var(--space_0) * 4) calc(var(--space_0) * 8);

  @include pill;
  color: $grey_m;

  transition: opacity 0.15s ease-in-out, transform 0.6s ease-in-out;

  &.closable:after {
    display: flex;
    content: '×';
    position: absolute;
    top: calc(var(--space_0) * 2);
    right: calc(var(--space_0) * 2);
    z-index: 11;
    padding: calc(var(--space_0) * 2);
    line-height: var(--fs_m);
    color: $grey_m;
    cursor: pointer;
    html.no-touchevents &:hover,
    &:active {
      color: $black;
    }
  }
  &.closed{
    opacity: 0;
    transform: translate3d(0,var(--vp_ih),0);
    pointer-events: none;
  }
}
.woocommerce-checkout .woocommerce-notices-wrapper, 
.woocommerce-account, 
.woocommerce-cart {
  .woocommerce-message,
  .woocommerce-info {
    margin-top: calc(var(--space_0) * 8);
    padding: calc(var(--space_0) * 4) calc(var(--space_0) * 8);
    @include pill;
    color: $grey_m;
  }
}
.woocommerce-shop {
  .woocommerce-no-products-found{
      display: flex;
      justify-content: center;
      padding: var(--space_0) calc(var(--space_0) * 10);
  }
  .woocommerce-info {
    display: inline-flex;
    padding: calc(var(--space_0) * 4) calc(var(--space_0) * 8);
    @include pill;
    color: $grey_m;
  }
}

.woocommerce-checkout {
  .woocommerce-error,
  .woocommerce-NoticeGroup {
    ul, li {
      //width: 100%;
    }
    li {
      width: 100%;
      flex-direction: unset;
    }
    li, strong{
      color: $grey_m;
    }
    strong {
      font-weight: 600;
    }
  }
}
.checkout .woocommerce-error li,
.single-product .woocommerce-error li,
.woocommerce-NoticeGroup li,
.woocommerce-message {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: calc(var(--fs_m)*0.5) 0;

  &:not(:last-child) {
    margin-bottom: var(--fs_m);
    border-bottom: var(--bw_s) solid $grey_l;
  }

  a {
    @include pill;
    @include button(var(--fs_m));
    @include button_interaction;
    order: 1;
    margin-top: calc(var(--fs_m)*0.5);
  }
}

.woocommerce-NoticeGroup li {
  strong {
    font-weight: normal;
    margin-right: 0.25em;
  }
}


/*
.woocommerce-NoticeGroup {
  position: fixed;
  display: flex;
  justify-content: center;
  left: 0;
  bottom: var(--fs_m);
  padding: 0 calc(var(--space_0) * 4);
  z-index: 1;
  width: 100%;
  max-height: calc(var(--vp_h) - var(--fs_m) * 2);

  ul {
    flex-wrap: wrap;
    margin: 0 auto;
    padding: calc(var(--space_0) * 4);

    &:after {
      content: 'OK';
      display: block;
      font-size: var(--fs_m);
      line-height: var(--fs_m);
      text-align: center;
      padding: calc(var(--fs_m) * 0.5);
      margin: var(--fs_m) auto;
      color: $white;
      //background-color: $primary;
      border-radius: var(--fs_m);
      //border: solid 1px $primary;
      width: 6em;
      cursor: pointer;
      opacity: 0;
      transition: opacity 0.25s ease-in-out;
    }

    li {
      width: 100%;
      margin-bottom: calc(var(--fs_m) * 0.5);
    }

    li strong {
      font-weight: 600;
      font-weight: normal;
      //color: $primary;
    }
  }

  &.closable {
    ul {
      &::after {
        opacity: 1;
      }
    }

    cursor: pointer;
  }
}
*/


@media all and (max-width: $break_s) {
  .single-product .woocommerce-error,
  .checkout>.woocommerce-error,
  .woocommerce-NoticeGroup {
    top: calc(var(--h_h) + var(--space_0) * 2);
    left: calc(var(--space_0) * 4);
    right: calc(var(--space_0) * 4);
    width: calc(100% - var(--space_0) * 8);
    padding: calc(var(--space_0) * 4);
  }
  .woocommerce-checkout .woocommerce-notices-wrapper,
  .woocommerce-account,
  .woocommerce-cart {
    .woocommerce-message,
    .woocommerce-info {
      margin-top: calc(var(--space_0) * 4);
      padding: calc(var(--space_0) * 4);
    }
  }

  .woocommerce-shop {
    .woocommerce-no-products-found {
      padding: var(--space_0) calc(var(--space_0) * 2);
    }
    .woocommerce-info {
      padding: calc(var(--space_0) * 4);
    }
  }
  .woocommerce-checkout {
    .woocommerce-error,
    .woocommerce-NoticeGroup {
      ul,
      li {
        width: calc(100% - var(--space_0) * 8);
      }
    }
  }
}