.woocommerce-products-header {
  //display: none; //ne to update / indicat filter state
}
.shop-products-wrapper{
  position: relative;
}
.woocommerce-shop .products{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: calc(var(--space_0) * 6) calc(var(--space_0) * 9) calc(var(--space_0) * 7) calc(var(--space_0) * 9);
  min-height: calc(var(--vp_ih) - var(--h_h));
}
.woocommerce-shop .product {
  width: 25%;
  padding: var(--space_0);
}
.product-thumb-container{ //a
  display: flex;
  position: relative;
  aspect-ratio: 3/4;
  border-radius: var(--br_m);
  overflow: clip;
  transition: box-shadow 0.3s ease-out;
  html.no-touchevents &:hover,
  &:active {
    box-shadow: $shadow;
  }
}
.product-image-wrapper{
  background-color: $cream;
  .product-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
.product-info-container {
  position: absolute;
  bottom: 0;
}
.product-tags {
  display: flex;
  padding: calc(var(--space_0) * 2);
}
.product-tag {
  @include pill();
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: calc(var(--space_0) * 8);
  max-width: calc(var(--space_0) * 8);
  &:not(:last-child) {
    margin-right: calc(-2 * var(--space_0));
  }

  transition: max-width 0.3s ease-out;
  
  &:hover {
    max-width: 12.5vw; // rough max-width, change for 1 col layout
    transition: max-width 0.3s ease-out 0.15s;

    .product-tag-name {
      opacity: 1;
      transition: opacity 0.15s ease-in-out 0.3s;
    }
  }
}
.product-tag-icon {
  height: 100%;
}
.product-tag-name {
  @include button(var(--fs_m));
  padding-left: 0;
  opacity: 0;
  transition: opacity 0.15s ease-in-out 0s;
}

.product-stock-notice {
  position: absolute;
  top: calc(var(--space_0) * 2);
  right: calc(var(--space_0) * 2);
  height: calc(var(--space_0) * 8);
  @include pill();
  @include button(var(--fs_m));
  background-color: rgba($white, 0.6);
  box-shadow: none;
}


@media all and (max-width: $break_s) {
  .product-tag {
      &:hover {
        max-width: 25vw;
      }
    }
  .woocommerce-shop .products {
    padding: calc(var(--space_0) * 4) calc(var(--space_0) * 3) calc(var(--space_0) * 16) calc(var(--space_0) * 3);
    min-height: calc(var(--vp_ih) - var(--mh_h));
  }
  .woocommerce-shop .product {
    width: 50%;
  }
}