// builds upon shop_products.scss styles
.single-product .product {
  position: relative;
  .swiper-button{
    display: none;
  }
}
.single-product-image-wrapper{
  aspect-ratio: var(--ratio);
  .single-product-image {
    width: 100%;
  }
}
.single-product .product-stock-notice {
  top: calc(var(--space_0) * 4);
  right: calc(var(--space_0) * 10);
  z-index: 2;
}
.product-controls{
  position: sticky;
  bottom: calc(var(--space_0) * 4);
  left: calc(var(--space_0) * 10);
  right: calc(var(--space_0) * 10);
  z-index: 10;
}

.product-description-container,
.summary {
  position: absolute;
  bottom: calc(var(--space_0) * 4);
}

.product-description-container {
  z-index: 10;
  width: 25%;
  left: calc(var(--space_0) * 10);
  .product-description-button {
    height: calc(var(--space_0) * 8);
    max-height: calc(var(--space_0) * 8);
    transition: opacity 0s ease-out 0.3s, max-height 0s ease-out 0.3s;
    .product-button-icon{
      height: 100%;
    }
  }
  .product-description-wrapper {
    max-height: 0;
    opacity: 0;
    overflow: clip;
    transition: opacity 0.15s ease-in-out, max-height 0.3s ease-out, background-color 0.3s ease-in-out, box-shadow 0s ease-in-out 0s, border-radius 0s ease-in-out 0.15s;
    h3, p {
      padding: 0 calc(var(--fs_m)*1.5) 0 calc(var(--fs_m)*2);
    }
    h3 {
      font-weight: 600;
      padding-top: calc(var(--fs_m)*2);
      margin-bottom: var(--fs_m);
    }
    p{
      padding-bottom: calc(var(--fs_m)*2.5);
    }
  }
  
  html.no-touchevents &:hover,
  &.is-visible {
    .product-description-button{
      max-height: calc(var(--fs_m)*2); // replace padding-top
      opacity: 0;
      pointer-events: none;
      transition: opacity 0s ease-in-out, max-height 0s ease-out;
    }
    .product-description-wrapper{
      @include pill;
      max-height: calc(var(--vp_ih) * 0.5 - var(--h_h));
      opacity: 1;
      transition: opacity 0.15s ease-in-out, max-height 0.3s ease-out, background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0s ease-in-out;
    }
  }
}

.summary {
  z-index: 9;
  width: 75%;
  right: calc(var(--space_0) * 10);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .product-prices {
    display: flex;
    padding: 0 calc(var(--space_0) * 2);
    .logged-in .product:not(.outofstock) & {
      padding-right: 0;
    }
    .product-price{
      display: flex;
      justify-content: center;
      align-items: center;
      @include pill;
      @include button(var(--fs_m));
      height: calc(var(--space_0) * 8);
      min-width: calc(var(--space_0) * 8);
    }
  }
  .product-tags{
    padding-top: 0;
    padding-bottom: 0;

    .product-tag-signup-link {
      max-width: 100% !important;
      &:not(:last-child){
        margin-right: calc(var(--space_0) * 2);
      }
      .product-tag-name{
        opacity: 1;
      }
    }
  }
  .variations_form {
    display: flex;
    .stock {
      display: none;
    }
    .variations{
      tbody {
        padding: 0 calc(var(--space_0) * 2);
        gap: calc(var(--space_0) * 2);
      }
      .value {
        position: relative;
        select{
          padding-right: calc(var(--fs_m)*2);
          text-align: center;
          -webkit-appearance: none;
          -moz-appearance: none;
        }
        &::after {
          content: '▾';
          position: absolute;
          top: calc(var(--space_0) * 2);
          right: var(--fs_m);
          pointer-events: none;
          color: $grey_m;
        }
        html.no-touchevents &:hover {
          &::after {
            color: $black;
          }
        }
      }
      .label,
      .reset_variations{
        display: none !important;
      }
    }
    .single_variation_wrap { // names could change for simple-products!!! (but for now variable-products are good)
      .woocommerce-variation{
        display: none !important;
      }
      .woocommerce-variation-add-to-cart{ // names could change for simple-products!!! (but for now variable-products are good)
        display: flex;
        padding-right: calc(var(--space_0) * 2);
        gap: calc(var(--space_0) * 2);
        .quantity{
          label {
            display: none;
          }
          input{
            @include pill;
            height: calc(var(--space_0) * 8);
            min-width: calc(var(--space_0) * 8);
            max-width: calc(var(--space_0) * 8);
            padding: calc(var(--fs_m)*0.5) calc(var(--fs_m)*0.75);
            text-align: center;
            transition: max-width 0.15s ease-out;
            html.no-touchevents &:hover {
              max-width: calc(var(--space_0) * 16);
              transition: max-width 0.15s ease-out 0.15s;
              &::-webkit-outer-spin-button,
              &::-webkit-inner-spin-button{
                display: block;
              }
            }
          }
        }
        .single_add_to_cart_button{
          transition: background-color 0.3s ease-in-out;
          &.disabled,
          &.loading {
            color: $grey_d;
            background-color: rgba($white, 0.6);
            box-shadow: none;
            pointer-events: none;
          }
          &.loading{
            pointer-events: auto;
            cursor: progress;
          }
          &.added:after{
            content: ' ✔\fe0e';
            margin-left: 0.5em;
            color: $lime;
          }
        }
        .added_to_cart.wc-forward{
          display: none;
        }
      }
    }
  }
  .single-product-checkout-link{
    height: calc(var(--space_0) * 8);
  }
}

.single-product-back-link {
  position: absolute;
  bottom: 0;
  right: calc(var(--space_0) * 10);
  height: calc(var(--space_0) * 8);
  transform: translate3d(0, calc(var(--space_0) * -16), 0); // -8 = summary-height, -4 = summary-bottom
}


@media all and (max-width: #{$break_s}) {
  .single-product .product {
    .swiper-button {
      display: flex;
      width: calc(var(--space_0) * 10);
      position: absolute;
      top: 50%;
      z-index: 4;
      transform: translate3d(0, -50%, 0);
      img {
        width: 100%;
        transition: transform 0.3s ease-out;
      }
      &-prev {
        left: var(--space_0);
      }
  
      &-next {
        right: var(--space_0);
      }
      html.no-touchevents &:hover,
      &:active {
        img {
          transform: scale(0.9) !important;
        }
      }
    }
  }
  .single-product .product-stock-notice {
    right: calc(var(--space_0) * 4);
  }

  .product-images-container{
    .swiper-wrapper{ // dev!!!
      //display: flex;
      //flex-direction: row;
    }
  }

  .product-controls {
    position: relative;
    bottom: unset;
    left: unset;
    right: unset;
    padding: calc(var(--space_0) * 6) calc(var(--space_0) * 4) calc(var(--space_0) * 5) calc(var(--space_0) * 4);
  }

  .product-description-container,
  .summary {
    position: relative;
    bottom: unset;
  }

  .product-description-container{
    left: unset;
    width: 100%;
    .product-description-button{
      display: none;
    }
    .product-description-wrapper{
      max-height: 100%;
      padding: calc(var(--space_0) * 2) calc(var(--space_0) * 4) calc(var(--space_0) * 6) calc(var(--space_0) * 4);
      margin-bottom: calc(var(--space_0) * 4);
      border-bottom: var(--bw_s) solid $grey_l;
      opacity: 1;
      h3,p{
        padding: 0;
      }
    }
  }
  .summary-lock{
    display: flex !important;
    height: var(--bw_s);
    overflow: hidden;
    margin-bottom: calc(var(--space_0) * 4);
  }
  .summary {
    position: relative;
    bottom: unset;
    right: unset;
    width: 100%;
    flex-flow: row wrap;
    justify-content: center;
    .product-tags,
    .product-prices{
      padding-bottom: calc(var(--space_0) * 4);
    }
    .variations_form {
      flex-wrap: wrap;
      padding-top: calc(var(--space_0) * 4);
      padding-bottom: calc(var(--space_0) * 4);
      border-top: var(--bw_s) solid $grey_l;
      .variations{
        width: 100%;
        tbody {
          flex-flow: row wrap;
          justify-content: center;
          width: 100%;
          gap: calc(var(--space_0) * 4);
          padding-bottom: calc(var(--space_0) * 4);
          border-bottom: var(--bw_s) solid $grey_l;
        }
      }
      .single_variation_wrap{
        width: 100%;
        padding-top: calc(var(--space_0) * 4);
        padding-bottom: calc(var(--space_0) * 4);
        border-bottom: var(--bw_s) solid $grey_l;
        .woocommerce-variation-add-to-cart{
          justify-content: center;
          gap: calc(var(--space_0) * 4);
          .quantity {
            @include pill;
          }
        }
      }
    }
  }
  .single-product-back-link {
    display: none;
  }
}