.subscription-product-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  aspect-ratio: 1/1;
  @include pill;
  padding: calc(var(--space_0)*8);
}

.subscription-product-content {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;

  .subscription-title {
    display: flex;
    justify-content: center;
    width: 100%;
    height: calc(var(--fs_l) * 2);
    margin-bottom: calc(var(--space_0)*4);
  }

  .subscription-description-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding-top: calc(var(--space_0)*4);
    padding-bottom: calc(var(--space_0)*2);
    border-top: var(--bw_s) solid $grey_l;
    border-bottom: var(--bw_s) solid $grey_l;
  }

  p,
  strong {
    font-weight: 600;
    font-size: var(--fs_s);
    line-height: var(--fs_s);
    letter-spacing: 0.0125em;
    margin-bottom: calc(var(--fs_xs)*0.5);
  }

  ul,
  li {
    font-weight: 300;
    font-size: var(--fs_xl);
    line-height: var(--fs_xl);
  }

  ul {
    margin-bottom: calc(var(--fs_xs)*0.5);
    margin-left: 0;
  }

  .subscription-price {
    margin-top: auto;
    text-align: center;
  }
}

//single-product styles
.single-product .product-type-subscription,
.single-product .product-type-variable-subscription{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //height: calc(var(--vp_ih) - var(--h_h));
  //box-shadow: 0 var(--h_h) 0 $yellow;
  background-color: $yellow;

  position: absolute;
  top: calc(-1 * var(--h_h));
  left: 0;
  right: 0;
  bottom: 0;

  padding-top: var(--h_h);

  .summary {
    width: 100%;
    right: 0;
    left: 0;
    justify-content: center;
  }
  .product-tags,
  .quantity,
  .single-product-checkout-link,
  .single-product-back-link {
    display: none;
  }
  .subscription-product-container {
    width: 33.333%;
  }
  .subscription-product-content {
    .subscription-price {
      margin-top: calc(var(--space_0)*4);
    }
  }
}

@media all and (max-width: $break_m) {
  .subscription-product-content {
    ul,
    li {
      font-weight: 300;
      font-size: var(--fs_l);
    }
  }
}

@media all and (max-width: $break_s) {
  .subscription-product-container {
    padding: calc(var(--space_0)*4);
  }

  .subscription-product-content {
    .subscription-title {
      margin-top: var(--space_0);
    }
    /*ul,
    li {
      font-weight: 300;
      font-size: var(--fs_l);
    }*/
  }

  .single-product .product-type-subscription,
  .single-product .product-type-variable-subscription {
    top: calc(-1 * var(--mh_h));
    padding-top: var(--mh_h);
    .subscription-product-container {
      width: calc(100% - var(--space_0) * 8);
    }
    .summary {
      margin-top: calc(var(--space_0) * 4);
    }
  }
  .single-product .product-type-variable-subscription {
    .summary {
      .variations_form {
        padding-top: 0;
        padding-bottom: 0;
        border-top: none;
        flex-wrap: unset;
        .variations tbody{
          border-bottom: 0;
        }
        .single_variation_wrap{
          padding-top: 0;
          border-bottom: none;
        }
      }
    }
  }
}