@mixin link($font_size) {
  font-size: $font_size;
  line-height: $font_size;
  color: $grey_m;
  text-decoration: none;
  cursor: pointer;
  html.no-touchevents &:hover,
  &:active,
  &:focus {
    color: $black;
  }
}
@mixin pill() {
  color: $black;
  background-color: $white;
  border: none;
  border-radius: var(--br_l);
  overflow: clip;
  box-shadow: $shadow;
}
@mixin reset_pill() {
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
}
@mixin input_text($font_size) {
  width: auto;
  font-size: $font_size;
  line-height: $font_size;
  padding: calc(#{$font_size}*0.5) $font_size;
  margin: 0;
  background-color: $white;
  border: var(--bw_s) solid $grey_l;
  border-radius: var(--br_m);
  overflow: clip;
  html.no-touchevents &:hover,
  &:active,
  &:focus {
    border-color: $grey_m;
  }
}
@mixin button($font_size) {
  display: inline-flex;
  align-items: center;
  height: calc(var(--space_0) * 8);
  font-size: $font_size;
  line-height: $font_size;
  padding: calc(#{$font_size}*0.5) $font_size;
  white-space: nowrap;
  cursor: pointer;
}
@mixin button_interaction() {
  &:not(.disabled) {
    transition: box-shadow 0.15s ease-in-out;
    html.no-touchevents &:hover,
    &:active {
      box-shadow: $shadow_double;
    }
  }
}
@mixin cta_l() {
  font-size: var(--fs_l);
  line-height: var(--fs_l);
  font-weight: 300;
  height: auto;
  min-height: calc(var(--space_0) * 12);
  padding-left: var(--fs_l);
  padding-right: var(--fs_l);
  @media all and (max-width: $break_s) {
    padding-top: calc(var(--space_0) * 4);
    padding-bottom: calc(var(--space_0) * 4);
    border-radius: var(--br_xl);
    white-space: unset;
    text-align: center;
  }
}
.button-style,
.woocommerce-account .button,
.subscription-actions .button,
button:not(.menu-button),
input:not([type='radio']):not([type='text']):not(.input-text):not([type='password']):not([type='checkbox']):not([type='email']),
select,
.single-product-checkout-link,
.single-product-back-link,
.shipping-calculator-button,
.checkout-button,
.checkout h3#ship-to-different-address label span,
.woocommerce-MyAccount-navigation-link a,
.woocommerce-MyAccount-content .woocommerce-Addresses a.edit,
.xoo-el-tabs li,
.subscription-product-link,
.link-newsletter-signup,
.footer-cta-link,
.content-linklist-link,
.woocommerce-checkout-payment ul li label,
.woocommerce-order-pay ul li label[for],
#payment #place_order,
.return-to-shop-container a { 
  @include pill;
  @include button(var(--fs_m));
  &:not(.product-filter-button):not(.product-description-button){
    @include button_interaction();
  }
}
.link-newsletter-signup,
.footer-cta-link,
.content-linklist-link,
.return-to-shop-container a{
  @include cta_l;
}
.button-style,
.product-filter-button,
.single_add_to_cart_button,
.single-product-checkout-link,
.single-product-back-link,
.checkout-button,
.button#place_order,
.subscription-product-link,
.woocommerce-MyAccount-navigation-link.is-active a{
  font-weight: 600;
}

p>a,
.xoo-aff-checkbox_single a,
a.xoo-el-lostpw-tgr,
.cookie-notice-container a {
  @include link(var(--fs_m));
}

// Chrome, Safari, Edge, Opera 
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  //-webkit-appearance: none !important;
  display: none;
  margin: 0;
}
input[type='text'],
.input-text:not(.qty),
.select2-container--default .select2-selection--single{
  @include input_text(var(--fs_m));
}
.select2-container--default .select2-selection--single{
  height: auto;
  html.no-touchevents &:hover,
  &:active,
  &:focus {
    .select2-selection__arrow b {
      border-color: $black transparent transparent transparent;
    }
  }
}
.select2-container .select2-selection--single .select2-selection__rendered{
  line-height: var(--fs_m);
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.075em;
  padding-bottom: 0.075em;
  color: $black;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 100%;
  top: 0;
  b{
    border-color: $grey_m transparent transparent transparent;
  }
}


// Firefox 
/*input[type=number] {
  -moz-appearance: textfield !important;
}*/

/*.button,
.wc-forward,
.wc-backward,
.shipping-calculator-button,
h3#ship-to-different-address span,
.woocommerce-account-fields span,
.woocommerce-form-login span:not(.required),
.wc_payment_method label,
.contact-mail-button {
  display: inline-flex;
  align-items: center;
  min-height: $text_m * 2;
  font-size: $text_m;
  line-height: $text_m;
  text-align: center;
  padding: 0.125em 0.75em;
  color: $black;
  background-color: transparent;
  border-radius: $text_m;
  border: solid 0.1em $black;

  &:active {
    text-transform: uppercase;
  }

  html.no-touchevents & {
    &:hover {
    }
  }

  cursor: pointer;
  transition: background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out,
  color 0.15s ease-in-out;
}


input,
textarea {
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  appearance: none !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;

  transition: box-shadow 0.5s ease-in-out 0.5s;

  &:not(.input-text.qty.text) {
    padding: 0.125em 0.75em;

    font-size: $text_m;
    line-height: $text_m;

    border-radius: $line_m;
    overflow: clip;
    transform: translate3d(0, 0, 0);

    background-color: $white;
    border: 0.1em solid $grey;
  }

}

input {
  height: $text_m * 2;
}

// Chrome, Safari, Edge, Opera 
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}

// Firefox 
input[type=number] {
  -moz-appearance: textfield !important;
}

// does not apply style
input:-internal-autofill-selected {
  background-color: $grey !important;
}

::placeholder {
  color: $grey;
}

@media all and (max-width: $break_s) {
  .button,
  .wc-forward,
  .wc-backward,
  .shipping-calculator-button,
  h3#ship-to-different-address span,
  .woocommerce-account-fields span,
  .woocommerce-form-login span:not(.required),
  .wc_payment_method label,
  .contact-mail-button {
    font-size: $text_m_s;
    line-height: $text_m_s;
    padding: $text_m_s * 0.375 $text_m_s * 1.5 $text_m_s * 0.5 $text_m_s * 1.5;
    border-radius: $text_m_s;
    //border: solid 1px $grey;
  }

  input,
  textarea {

    //width: 100%;
    //margin: 0;
    &:not(.input-text.qty.text) {
      padding: $text_m_s * 0.375 $text_m_s * 1.5 $text_m_s * 0.5 $text_m_s * 1.5;
      font-size: $text_m_s;
      line-height: $text_m_s;
      border-radius: $line_m_s;
      //border: 0.1em solid $grey;
    }

  }

  input {
    height: $text_m_s * 2;
  }
}*/