@font-face {
    font-family: 'HelveticaRounded-Bold';
    src: url('./fonts/HelveticaRoundedLTWXX-Bold/font.woff2') format('woff2'), url('./fonts/HelveticaRoundedLTWXX-Bold/font.woff') format('woff');
    //font-display: optional; //swap
}
@font-face {
    font-family: 'HelveticaRounded-BoldItalic';
    src: url('./fonts/HelveticaRoundedLTWXX-BdObl/font.woff2') format('woff2'), url('./fonts/HelveticaRoundedLTWXX-BdObl/font.woff') format('woff');
    //font-display: optional; //swap
}