.site-footer {
  display: flex;
  justify-content: space-between;
  z-index: 1;
  width: 100%;
  padding: calc(var(--space_0) * 8) calc(var(--space_0) * 15) calc(var(--space_0) * 15) calc(var(--space_0) * 15);

}
.footer-menus-container{
  display: flex;
  gap: calc(var(--space_0) * 12);
}
.footer-menu{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  li, h4, a {
    font-size: var(--fs_s);
    line-height: var(--fs_s);
    letter-spacing: 0.0125em
  }
  li {
    margin: var(--space_0) 0;
  }
  a {
    padding: var(--space_0) 0;
    html.no-touchevents &:hover,
    &:active{
      color: $grey_m;
    }
  }
  h4 {
    font-weight: 600;
  }
}
.footer-cta-link {
  margin-left: 100px;
}