.site-header{
	display: flex;
	flex-wrap: wrap;
	position: fixed;
	top: 0;
	z-index: 10;
	width: 100%; //vw
  padding: calc(var(--space_0) * 2) calc(var(--space_0) * 10);
	/*will-change: transform;
	transition: transform 0.4s ease-out;
	&.hidden{
		transform: translateY(-100%);
	}*/
}

.main-header-container{
  display: flex;
	justify-content: space-between;
	align-items: center;

	width: 100%;

	.logo-container{
		display: flex;
    height: var(--fs_l);

		//height: 100%;
		img,svg{
			display: flex;
			width: 100%;
			height: 100%;
		}

		/*will-change: transform;
		transition: transform 0.4s ease-out;
		.hidden &{
			transform: translateY(-300%);
		}*/
	}

	.header-menu-container{
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		>div{
			display: flex;
			&:not(:last-child){
		
			}
		}
	}
	.cart-link-container{
	}
	.cart-link-container,
	.cart-link{
		display: flex;
		flex-wrap: nowrap;
		//align-items: center;
		justify-content: center;
	}
	.shop-link{
		&:not(:first-child){ // dev : duplicate el  cache-fix ??
			display: none;
		}
	}
	.cart-link{
		
	}
	/*.trp-language-switcher-container {
		.trp-ls-shortcode-current-language {
			// the current language is display twice, so hide one
			display: none;
		}
		.trp-ls-shortcode-language {
			// always show languages-menu-options
			display: flex !important;
			width: 100% !important;
			a {
				// is not the current language if has no class
				color: $grey;
				html.no-touchevents &:hover,
				&:active {
					color: $black;
				}
			}
			.trp-ls-shortcode-disabled-language {
				// this is the current language
				color: $black;
				pointer-events: none;
				cursor: default;
				&:after{
					content: '/';
					display: inline-flex;
					margin-right: 0.125em;
					margin-left: -0.125em;
				}
			}
		}
	}*/
	.menu-button-container{
		
	}
}



@media all and (max-width: $break_s) {
	.site-header{}
}



