.logo-container-mobile {
  width: 100%;
  padding: calc(var(--space_0) * 6) calc(var(--space_0) * 10);
  img {
    width: 100%;
  }
  display: none; //dev
}
.site-header{
	display: flex;
	flex-wrap: wrap;
	position: fixed;
	top: 0;
	z-index: 10;
	width: 100%;
  padding: calc(var(--space_0) * 6) calc(var(--space_0) * 10);
}

.main-header-container{
  display: flex;
	justify-content: space-between;
	align-items: flex-start;
  position: relative;
	width: 100%;
  height: var(--fs_l);
  .shop-link-container,
  .logo-container,
  .cart-link-container,
  .myaccount-link-container,
  .menu-button-container{
    position: absolute;
    height: var(--fs_l);
    min-width: var(--fs_l);
    img,
    svg {
      display: flex;
      width: 100%;
      height: 100%;
    }
  }
  .shop-link-container{
    left: 0;
  }
  .cart-link-container{
    left: 25%;
    transform: translate3d(-50%,0,0);
    .cart-link{
      position: relative;
      .count{
        position: absolute;
        top: calc(50% - var(--fs_xs) * 0.5);
        left: calc(100% - var(--fs_xs) * 0.25);
        font-size: var(--fs_xs);
        line-height: var(--fs_xs);
      }
    }
  }
	.logo-container{
    left: 50%;
    transform: translate3d(-50%, 0, 0);
	}

  .myaccount-link-container{
    left: 75%;
    transform: translate3d(-50%, 0, 0);
    .user-name{
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: var(--fs_l);
      min-width: calc(var(--fs_l) * 2);
      border: var(--bw_l) solid $black;
      border-radius: 100%;
      white-space: nowrap;
      font-size: var(--fs_xs);
      line-height: var(--fs_xs);
      font-style: italic;
      padding: calc(var(--fs_xs) * 0.25) calc(var(--fs_xs) * 0.75);
    }
  }
  .menu-button-container {
    display: flex;
    justify-content: flex-end;
    right: 0;
    .menu-button {
      position: relative;
      width: 100%;
      height: 100%;
      .menu-open-icon,
      .menu-close-icon{
        position: absolute;
        top: 0;
        transform-origin: center;
        transition: transform 0.15s ease-in-out;
      }
      .menu-close-icon{
        transform: scale(0);
      }
      &.is-active{
        .menu-open-icon {
          transform: scale(0);
        }
        .menu-close-icon {
          transform: scale(1);
        }
      }
    }
  }
}



@media all and (max-width: $break_s) {
	.site-header{}
}



