.logo-container-mobile {
  width: 100%;
  z-index: 10;
  img {
    width: 100%;
  }
  display: none;
}
.site-header{
	display: flex;
	flex-wrap: wrap;
	position: fixed;
	top: 0;
	z-index: 10;
	width: 100%;
  padding: calc(var(--space_0) * 6) calc(var(--space_0) * 10);
}

.main-header-container{
  display: flex;
	justify-content: space-between;
	align-items: flex-start;
  position: relative;
	width: 100%;
  height: var(--fs_l);
  .shop-link-container,
  .logo-container,
  .cart-link-container,
  .myaccount-link-container,
  .menu-button-container{
    position: absolute;
    height: var(--fs_l);
    min-width: var(--fs_l);
    img,
    svg {
      display: flex;
      width: 100%;
      height: 100%;
      //padding: calc(var(--space_0) * 1) calc(var(--space_0) * 2);
      //transition: transform 0.3s ease-in-out;
    }
    /*html.no-touchevents &:hover,
    &:active{
      filter: brightness(1.4);
      @include pill;
      img, svg {
        transform: translate3d(0,-0.1em,0);
      }
    }*/
  }
  .shop-link-container{
    left: 0;
  }
  .cart-link-container{
    left: 25%;
    transform: translate3d(-50%,0,0);
    .cart-link{
      position: relative;
      .count{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: calc(50% - var(--fs_xs) * 0.5);
        left: calc(100% - var(--fs_xs) * 0.5);
        height: 1.75em;
        width: 1.75em;
        font-size: var(--fs_xs);
        line-height: var(--fs_xs);
        text-align: center;
        border-radius: 1em;
        overflow: clip;
        transition: background-color 0.15s ease-in-out;
        &.style-green{
          background-color: $lime;
        }
      }
    }
  }
	.logo-container{
    left: 50%;
    transform: translate3d(-50%, 0, 0);
	}

  .myaccount-link-container{
    left: 75%;
    transform: translate3d(-50%, 0, 0);
    .user-name{
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: var(--fs_l);
      min-width: calc(var(--fs_l) * 2);
      border: var(--bw_l) solid $black;
      border-radius: 100%;
      white-space: nowrap;
      font-size: var(--fs_xs);
      line-height: var(--fs_xs);
      font-style: italic;
      padding: calc(var(--fs_xs) * 0.25) calc(var(--fs_xs) * 0.75);
    }
  }
  .menu-button-container {
    display: flex;
    justify-content: flex-end;
    right: 0;
    .menu-button {
      position: relative;
      width: 100%;
      height: 100%;
      .menu-open-icon,
      .menu-close-icon{
        position: absolute;
        top: 0;
        transform-origin: center;
        transition: transform 0.15s ease-in-out;
      }
      .menu-close-icon{
        transform: scale(0);
      }
      &.is-active{
        .menu-open-icon {
          transform: scale(0);
        }
        .menu-close-icon {
          transform: scale(1);
        }
      }
    }
  }
}



@media all and (max-width: $break_s) {
  .logo-container-mobile {
    display: flex;
    padding: calc(var(--space_0) * 6) calc(var(--space_0) * 4) calc(var(--space_0) * 2) calc(var(--space_0) * 4);
  }
	.site-header{
    position: sticky;
    padding: calc(var(--space_0) * 4);
  }
  .main-header-container {
    .logo-container{
      display: none;
    }
    .cart-link-container{
      left: 33.333%;
      transform: none;
      .cart-link{
        .count{
          top: calc(50% - var(--fs_xs) * 1.5);
          left: calc(100% + var(--fs_xs) * 1.75);
        }
      }
    }
    .myaccount-link-container{
      left: 66.666%;
    }
  }
}



