.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%; //vw
  margin-top: $col_sp * 2;
  margin-bottom: $col_sp * 8;
  &-starter{
    margin-top: 0;
    margin-bottom: $col_sp * 12;
  }
  /*padding: $col_sp $col_x * 0.5;
  &.row-fullscreen{
    padding: 0;
    .col{
      &.width-1_1{
        padding: 0;
      }
    }
  }*/
}
.col{
  display: flex;
  flex-direction: column;
  //padding: $col_sp 0; NEEED?
  .row-starter &{
    padding-top: 0;
    transform-origin: center bottom;
    transition: transform 0.15s ease-out;
    border-bottom-left-radius: $col_sp * 2;
    border-bottom-right-radius: $col_sp * 2;
    overflow: hidden;
    transform: translate3d(0,0,0);
    .col-content{
      overflow: hidden;
      max-height: calc(100 * var(--vp_h) - var(--header_h) * 2);
    }
  }
  &.width-1_1{
    width: $col_x * 12;
  }
  &.width-5_6{
    width: $col_x * 10;
  }
  &.width-3_4{
    width: $col_x * 9;
  }
  &.width-2_3{
    width: $col_x * 8;
  }
  &.width-1_2{
    width: $col_x * 6;
  }
  &.width-1_3{
    width: $col_x * 4;
  }
  &.width-1_4{
    width: $col_x * 3;
  }
  &.width-1_6{
    width: $col_x * 2;
  }
  &.align-v-top {
    justify-content: flex-start;
  }
  &.align-v-center {
    justify-content: center;
  }
  &.align-v-bottom {
    justify-content: flex-end;
  }
  &.align-v-space-between {
    justify-content: space-between;
  }
}
.col-content{
  position: relative;
  //padding: $col_sp * 0.5;
  width: 100%;
  max-width: 100%;
  //overflow: hidden;

  & > div,
  & > a.content-image-container,
  & > a.content-video-container {
    max-width: 100%;
  }
  &.align-h-left{
    align-self: flex-start;
  }
  &.align-h-center{
    align-self: center;
  }
  &.align-h-right{
    align-self: flex-end;
  }
  &-spacer{
    padding-bottom: calc(var(--content-height) * #{$col_x/4});
  }
}

.content-image-container,
.content-video-container{
  position: relative;

  &:not(.is-svg){
    padding-bottom: calc(var(--ratio) * 100%);
  }

  @media all and (orientation: portrait) {
  	&.portrait{
      .content-image,
      .content-video{
        display: flex;
        width: 100%;
        height: 100%;
      }
  	}
  	&.landscape{
      .content-image,
      .content-video{
        display: none;
        width: 0%;
        height: 0%;
      }
  	}
  }
  @media all and (orientation: landscape) {
    &.portrait{
      .content-image,
      .content-video{
        display: none;
        width: 0%;
        height: 0%;
      }
    }
    &.landscape{
      .content-image,
      .content-video{
        display: flex;
        width: 100%;
        height: 100%;
      }
    }
  }

  overflow: hidden;
  transform: translate3d(0,0,0);
  transition: border-radius 0.15s ease-in-out;
  html.no-touchevents .row:not(.row-starter) &:hover{
    border-radius: $col_sp * 2;
    transition: border-radius 0.9s ease-in-out;
  }

}

.content-embed-container{
  display: flex;
  width: 100%;
  //height: $col_x * 2;

  border-radius: $col_sp * 2;
  overflow: hidden;

  iframe{
    display: flex;
    height: 100%;
    width: 100%;
  }
}


.content-slider-container{
  @media all and (orientation: portrait) {
  	&.portrait{
      display: flex;
      .flickity-viewport{
        height: 64vh;
      }
  	}
  	&.landscape{
      display: none;
      .flickity-viewport{
        height: 0%;
      }
  	}
  }
  @media all and (orientation: landscape) {
    &.portrait{
      display: none;
      .flickity-viewport{
        height: 0%;
      }
    }
    &.landscape{
      display: flex;
      .flickity-viewport{
        height: 42vw;
      }
    }
  }
}

/*html.no-touchevents a.content-image-container:hover,
html.no-touchevents a.content-video-container:hover {
  .content-image,
  .content-video{
    transform-origin: center;
    transform: scale(1.075);
  }
}
html.touchevents {
  .content-video-container,
  .content-video {
    //height: calc(100% * var(--ratio))
  }
}*/
.content-image,
.content-video{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .is-svg &{
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
  }

  transition: opacity .125s ease-in-out;
  &.lazyload,
  &.ls-is-cached{
    transition: opacity .125s ease-in-out;
  }
}

.content-textarea-container {
  width: $col_x * 8;
  padding-top: $line_m;
  p, span{
    font-size: $text_m;
    line-height: $line_m;
  }
  /*p {
    //margin-bottom: $line_m;
    min-height: $line_m * 0.5;
  }*/
  a {
    font-family: inherit;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 1px;
    text-underline-position: under;
    font-size: inherit;
    line-height: inherit;
    color: inherit;

    html.no-touchevents &:hover,
    html.no-touchevents &:active {
      //text-decoration: none;
      //text-decoration-style: dotted;
      text-transform: uppercase;
    }
  }

  strong{
    display: inline-flex;
    //margin-bottom: 0.1em;
    font-family: $sans;
    font-weight: normal;
    font-size: $text_xl;
    line-height: $line_xl;
    margin-bottom: $text_m;
  }
}

.content-link-container{
  display: inline-flex;
  position: absolute;
  //margin: $line_m;
  right: 0;
  bottom: 0;

  will-change: transform;
  transform-origin: center;
  transition: transform 0.3s ease-in-out;

  border-radius: 0.25em;
  border-radius: $line_m;
  overflow: hidden;


  a{
    padding: 0.125em 0.75em;
    //text-shadow: 0 0 1px #000;
    border-radius: 0.25em;
    border-radius: $line_m;
    border-width: 0.1em;//1px;
    border-style: solid;
  }

  html.no-touchevents &:hover,
  html.no-touchevents &:active {
    //filter: invert(1) contrast(2);
    filter: invert(1);
  }

  .col-content-slider &,
  .col-content-embed &{
    border-radius: 0;
    a{
      border-radius: 0;
    }
  }
}
/*
.content-headline-container {
  h2, h3, h4, span{
    font-size: $text_l;
    line-height: $line_l;
    font-weight: normal;
    //margin-top: $line_m;
    //margin-bottom: $line_m;
  }
  &.font-size-large {
    h2, h3, h4, span{
      font-size: $text_xl;
      line-height: $line_xl;
    }
  }
  &.font-weight-medium{
    *{
      font-family: $g_medium;
    }
  }

  a {
    font-family: inherit;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
  }
}


*/
@media all and (max-width: $break_s){
  .row{
    //justify-content: center;
    padding: $col_sp $col_sp * 0.75;
  }
  .col{
    padding: /*$col_sp * 0.5 */$col_sp * 0.75;
    &.width-1_1{
      width: $col_x * 12;
    }
    &.width-5_6{
      width: $col_x * 9;
    }
    &.width-3_4{
      width: $col_x * 8;
    }
    &.width-2_3{
      width: $col_x * 12;
    }
    &.width-1_2{
      width: $col_x * 12;
    }
    &.width-1_3{
      width: $col_x * 6;
    }
    &.width-1_4{
      width: $col_x * 4;
    }
    &.width-1_6{
      width: $col_x * 3;
    }
    &.align-v-top {
      justify-content: center;
    }
    &.align-v-center {
      justify-content: center;
    }
    &.align-v-bottom {
      justify-content: center;
    }
    &.align-v-space-between {
      justify-content: center;
    }
  }
  .col-content{
    &-spacer{
      padding-bottom: calc(var(--content-height) * #{$col_x/2});
    }
  }
  .content-textarea-container {
    p, span{
      font-size: $text_m_s;
      line-height: $line_m_s;
    }
    p/*:not(:last-child)*/ {
      //margin-bottom: $line_m;
      min-height: $line_m_s * 0.5;
    }

    &.font-size-medium {
      p, span{
        font-size: $text_l_s;
        line-height: $line_l_s;
      }
    }
  }

  .content-headline-container {
    h2, h3, h4, span{
      font-size: $text_l_s;
      line-height: $line_l_s;
      font-weight: normal;
    }
    &.font-size-large {
      h2, h3, h4, span{
        font-size: $text_xl_s;
        line-height: $line_xl_s;
      }
    }
  }
}
