.privacy-policy,
.page-id-32,
.page-id-30 {
  .site-main {
    margin-bottom: $line_l;
    h3, h4, h5, h6 {
      font-size: $text_l;
      line-height: $line_l;
      margin-top: $line_l;
      margin-bottom: $line_l * 0.5;
    }
    h1, h2 {
      font-size: $text_xl;
      line-height: $line_xl;
      margin-top: $line_xl;
      margin-bottom: $line_xl * 0.5;
    }

    p, ul {
      max-width: 36em;
      a {
        text-decoration: underline;
        text-decoration-thickness: 1px;
        color: $grey;
        &:active,
        html.no-touchevents &:hover {
          color: $black;
        }
      }
    }

    strong{
      font-family: $g_semibold;
      font-weight: normal;
    }
  }
}

@media all and (max-width: 800px) {
  .privacy-policy,
  .page-id-32,
  .page-id-30 {
    .site-main {
      margin-bottom: $line_l_s;
      h3, h4, h5, h6 {
        font-size: $text_l_s;
        line-height: $line_l_s;
        margin-top: $line_l_s;
        margin-bottom: $line_l_s * 0.5;
      }
      h1, h2 {
        font-size: $text_xl_s;
        line-height: $line_xl_s;
        margin-top: $line_xl_s;
        margin-bottom: $line_xl_s * 0.5;
      }
    }
  }
}
