#cookie-notice {
  z-index: 8 !important;
  &.cookie-notice-hidden{
    opacity: 0;
    transform: translate3d(0,100%,0);
    pointer-events: none;
  }
  transition: opacity 0.15s ease-in-out, transform 0.3s ease-in-out;
  * {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
  }
  .cookie-notice-container {
    display: flex !important;
    align-items: baseline;
    flex-wrap: wrap;
    padding: $col_sp $col_sp * 4;
    text-align: left;
  }
  .cn-text-container {

  }
  .cn-buttons-container{
    display: flex !important;
    align-items: center;
  }
  .cn-button {
    font-family: $g_regular;
  	font-weight: normal;
    margin: 0;
  }
  .cn-set-cookie,
  .cn-more-info {
    margin-left: 0;
    &:active,
    html.no-touchevents &:hover {
      border-color: $purple;
      background-color: $purple;
      color: $white;
    }
  }
  #cn-close-notice{
    display: none;
  }
}

@media all and (max-width: $break_s){
  #cookie-notice {
    bottom: 0;
    .cookie-notice-container {
      padding: $col_sp $col_sp * 1.5;
    }
    .cn-text-container {
      text-align: center;
    }
    .cn-buttons-container {
      justify-content: center;
      width: 100%;
      margin: $col_sp*0.5 0;
    }
  }
}
