.main-menu-container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 9; // under header
  padding-top: calc(var(--h_h) - var(--space_0));
  padding-bottom: calc(var(--space_0) * 7);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
  .menu-list{
    @include pill;
    z-index: 12; // over menu-background
    display: flex;
    flex-flow: column;
    height: fit-content;
    max-height: 100%;
    overflow-y: auto;
    &::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding-top: calc(var(--space_0) * 10);
    padding-right: calc(var(--space_0) * 8);
    padding-left: calc(var(--space_0) * 8);
    padding-bottom: calc(var(--space_0) * 3);
    li {
      &:not(:first-child) {
        padding-top: calc(var(--space_0) * 2);
        border-top: var(--bw_s) solid $grey_l;
      }
      &:not(:last-child) {
        padding-bottom: calc(var(--space_0) * 2);
      }
    }
    .menu-link {
      display: flex;
      justify-content: center;
      height: calc(var(--fs_l) * 3);
      transition: opacity 0.15s ease-in-out;
      html.no-touchevents &:hover,
      &:active{
        opacity: 0.3;
      }
    }
    opacity: 0;
    transform: translate3d(0, calc(var(--vp_ih) * 0.25), 0);
    transition: transform 0.3s ease-in-out, opacity 0.15s ease-in-out;
  }
  .menu-background{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 11;
    cursor: pointer;
    background-color: rgba($grey_d, 0);
    transition: background-color 0.3s ease-in-out;
  }
  &.is-visible {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.15s ease-in-out;
    .menu-list {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
    .menu-background {
      background-color: rgba($grey_d, 0.3);
    }
  }
}
.trp-language-switcher-container {
  //margin-top: var(--space_0);
  .trp-ls-shortcode-current-language {
    // the current language is display twice, so hide one
    display: none;
  }
  .trp-ls-shortcode-language {
    // always show languages-menu-options
    display: flex !important;
    width: 100% !important;
    justify-content: center;
    a {
      // is not the current language if has no class
      padding: calc(var(--space_0) * 2) 0;
      html.no-touchevents &:hover,
      &:active {
        color: $grey_m;
      }
    }
    .trp-ls-shortcode-disabled-language {
      // this is the current language
      margin-right: var(--fs_s);
      font-weight: 600;
      pointer-events: none;
      cursor: default;
    }
  }
}