section.carerepair-teaser{
  display: flex;
  flex-direction: column;
  padding: calc(var(--space_0) * 4) calc(var(--space_0) * 15);
  margin-top: calc(var(--space_0) * 8);
}

.carerepair-teaser-container{
  .carerepair-teaser-title {
    width: auto;
    max-width: 100%;
    height: calc(var(--fs_l) * 3);
    padding: 0 var(--br_m);
    margin-bottom: calc(var(--space_0) * 4);
  }

  .right-column .carerepair-teaser-title {
    margin-left: auto;
  }

  .video-container {
    position: relative;
    width: 100%;
    border-radius: var(--br_m);
    overflow: hidden;
    overflow: clip;
    background-color: $cream;

    html.no-touchevents &:hover,
    html.touchevents &.is-in-view {
      video {
        opacity: 0.3;
      }
    }

    video {
      display: flex;
      position: relative;
      z-index: 1;
      width: 100%;
      aspect-ratio: 3/1;
      object-fit: cover;
      transition: opacity 0.6s ease-in-out;
    }

    p {
      position: absolute;
      top: calc(var(--space_0) * 4);
      left: calc(var(--space_0) * 4);
      z-index: 2;
      font-size: var(--fs_s);
      line-height: var(--fs_s);
      max-width: 25em;
    }
  }
}
.link-carerepair {
  margin-top: calc(var(--space_0) * 3);
  margin-left: auto;
}

@media all and (max-width: $break_s) {
  section.carerepair-teaser {
    padding: calc(var(--space_0) * 4);
  }
  .carerepair-teaser-container {
    .carerepair-teaser-title {
      padding: 0;
    }
    .video-container{
      video{
        aspect-ratio: 16/9;
      }
    }
  }
}