.home {
  section.observe-vp {
    opacity: 0;
    transform: translate3d(0, calc(var(--space_0)*16), 0);
    transition: opacity 0.3s ease-in-out, transform 0.9s ease-out;

    &.is-visible {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
}