section.news-teaser {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: calc(var(--space_0) * 4) calc(var(--space_0) * 14);
  .news-teaser-title{
    width: calc(var(--space_0) * 72);
    opacity: 0;
    transform-origin: center;
    transform: translate3d(0,calc(10% - var(--space_0)*4),0) scale(0.9);
    transition: transform 0.9s ease-out 0.6s, opacity 0.3s ease-in-out 0.9s;
    z-index: 8;
  }
  &.is-in-view{
    .news-teaser-title{
      opacity: 1;
      transform: translate3d(0, 10%, 0) scale(1);
    }
  }
  .news-teaser-links-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: calc(var(--space_0) * 2) 0;
    gap: calc(var(--space_0) * 4);
  }
}

@media all and (max-width: $break_s) {
  section.news-teaser {
    padding: calc(var(--space_0) * 4) calc(var(--space_0) * 3);
    .news-teaser-links-container{
      flex-direction: column-reverse;
      align-items: center;
      /*.link-newsletter-signup{
        padding-top: calc(var(--space_0) * 4);
        padding-bottom: calc(var(--space_0) * 4);
      }*/
      .link-news{
        margin-left: auto;
      }
    }
  }
}
